<!DOCTYPE html>
<html>
<head>
  <title>Unidom Common</title>
  <%= stylesheet_link_tag 'unidom/common/application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'unidom/common/application' %>

</body>
</html>
